/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS

---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/



/* ---- CSS RESET --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
}

[class*=grid-][class*=-equalHeight]>[class*=col] {
  display:block;
  /* This overrides a quirk with gridlex where contents inside of equal height containers become columns themselves */
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.mob-show { display: none;}

.full-width { /* for image grids */
  width:100%
}


/* ----- UNIVERSAL STYLES --------------------------- */

/* Typography */
body {
  font-family: 'Open Sans', sans-serif; /* Make sure you have added this font in the head of your HTML! */
  color: #2C3539;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.1rem;
}
p {
  margin-bottom: 1rem;
}

h1 { font-family: 'PT Sans Narrow', sans-serif; font weight: 600; font-style: normal; font-size: 3.0rem; line-height: 1.3; }
h2 { font-family: 'Rock Salt', cursive; font-size: 3.0rem; line-height: 1.2; }
h3 { font-family: 'PT Sans Narrow', sans-serif; font-weight:inherit; font-size: 1.8rem; line-height: 1.5; }
h4 {  font-family: 'Playfair Display', serif; font-weight: 400; font-style: normal; font-size: 2.0rem; line-height: 1.3; }
h5 { font-family: 'PT Sans Narrow', sans-serif; font-weight: 300; font-size: 1.7rem; line-height: 1.5;}
p  { font-size: 1.1rem; line-height: 1.5;}
blockquote  { font-size: 1.1rem; line-height: 1.5;}
li  {font-size: 1.1rem; }

span {
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif; font-weight: normal; font-size: 1.8rem; line-height: 1.5;
}
.small {
  font-size: 1.5rem;
}

.fontheader {
  font-size: 1.1rem;
}

.footericons {
  font-size: 1.5 rem;
  font-weight: bold;
}

.category-banner a {
  font-family:'Rock Salt', cursive;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.5;
  display: inline-block;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.7);
  width: 6rem;
  margin: 3% auto;
}
.linkcolor {
  color: #afcfbf;
}
a {
    text-decoration: none;
    padding: 1em;
    color: inherit;
}

nav a {
    text-decoration: none;
    padding: 1em;
    color: inherit;
}

/* Padding & Margin */

header { padding: 1vh 5%; }
footer { padding: 2vh 5%; }
section { padding: 5vh 5%; }

.col,
[class*=col-]   { padding: 2%; }

.margin0 {
  margin: 0;
}

.padding0 {
  padding: 0;
}

/*padding product preview boxes*/
.paddingprodpreview {
  padding: 1.5%;
}


/* Other universal styles */

[class*=grid]{
  margin: 0;
}

.featured{
  background-color: #dfece5;
}
.fa.featured {
  color: #1abc9c; /* featured color */
  background: none;
}

hr {
  border: none;
  border-top: 1px solid rgb(245,245,245);
  margin: 3vh 0;
}
.previous, .next { /* This is to navigate to the previous and next page of pagination for blogs */
    padding: 0 1.5em;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/*dotted box*/
.dotted {
  border: 1.5px dotted  #2C3539;
  }

/* ----- HEADER & FOOTER --------------------------- */

nav a {
    text-decoration: none;
    padding: 1em;
    color: inherit;
}
nav a:hover {
  color: #637881; /* featured color */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration:underline;
}

.logo {
  max-height: 2.5rem;
  margin: 0.5em 0;
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  padding-top: 2px;
  padding-bottom: 2px;
}
header {
  border-bottom: 1px solid rgb(245,245,245);
  padding-top: 2rem;
  height: 7rem;

}
footer {
  border-top: 10.5px solid rgb(245,245,245);
}
footer nav a {
  padding: 0.5em;
}

footer nav .fa,
.social-share nav .fa {
  padding: 0 1em 0 0;
}

.pure-drawer { /* pop-out hamburger menu */
  padding: 5em 3%;
}



.mob-nav a {
  display: block;
  padding: 0.5em;
}

/* ----- MODULAR ELEMENTS --------------------------- */

/* Buttons */
 button, /* button is an element snipcart uses */
.button,

.button4 {
  border-radius: 12px;
  background-color: #e7e7e7;
  color: grey;
}

.button:hover,
.button-inverted:hover {
  font-weight: semi-bold;
}

/*MAINSLIDER SECTION*/
nav {
  z-index: 100;
  position: relative;
}

.category-banner {
background-color: rgba(255, 255, 255, 0.7);
}

.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.slick-prev {
  left: 25px;
  z-index: 80;
}

.slick-next {
  right: 25px;
  z-index: 80;
}

.slider1, .slider2, .slider3 {
  min-height: 80vh;
  width: 100%;
  background-size: cover;
  padding-top: 3%;
}
.slider3{
  background-image:url("/images/slider1.jpg");
  background-position: center center;
  color: #2C3539;
}

.slider2{
  background-image:url("/images/slider2.jpg");
  padding-top: 1%
  color: #2C3539;
}

.slider1{
  background-image:url("/images/slider3.jpg");
}

.banner {
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 80vh;
}

/*PRODUCT SECTION*/
.productteaser {
  align-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  margin-top: 1rem;
}

.prodpreview {

}

.highlight-preview p {
  margin-bottom: 0;
}

 p.button-preview {
  margin-top: 0.5rem;
  background-color: #dfece5;
  padding: 2%;
}

/*EDITORIAL SECTION*/

.nopaddingbottom {
  padding-bottom: 0;
}

.nopaddingtop {
  padding-top: 0;
}

.editorialsection {
  padding-left: 0;
  padding-right: 0;
}

.editorialsection [class*=col-] {
    padding: 0 5px;
}

.editorialboxes {
  background-color: grey; /* this is a fallback - the image doesn't load */
  background-size: cover;
  background-position: center;
  min-height: 300px;
  padding: 0%;
  position: relative;
}

.boxblog { /* This can be used for any col or div that you want filled with a background image. */
  background-image: url('/images/editboxblog.jpg'); /* if you are adding a unique image to every one you can remove this */
}

.boxspot { /* This can be used for any col or div that you want filled with a background image. */
  background-image: url('/images/editboxspots.jpg'); /* if you are adding a unique image to every one you can remove this */
}

.boxtype { /* This can be used for any col or div that you want filled with a background image. */
  background-image: url('/images/editboxtype.jpg'); /* if you are adding a unique image to every one you can remove this */
}

/*BLOG SECTION*/
.box-img { /* This can be used for any col or div that you want filled with a background image. */
  background-color: grey; /* this is a fallback incase the image doesn't load */
  background-image: url('/images/yoga-1.jpg'); /* if you are adding a unique image to every one you can remove this */
  background-size: cover;
  background-position: center;
  min-height: 20vh;
}

/*PRODUCT MICROSITE*/

.slick-prev {
  left: 25px;
  z-index: 80;
}
.slick-next {
  right: 25px;
  z-index: 80;
}


/* Shop Elements */
.product-loop a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

.product-loop .box-img {
  min-height: 30vh;
}

.product-loop h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0;
}

/* Customising the snipcart pop-up */
.snip-layout .snip-header,
.snip-layout .snip-footer {
  background-color:  #1abc9c; /* featured color */
}
.snip-layout .snip-footer__copyright {
  color: white;
}

/* Blog elements */
.blog-loop a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  margin: 0;
}
.blog-loop img,
.post-body img {
    margin-bottom: 2vh;
}
.post-body {
  padding-right: 3%;
}

.post-meta {
  font-size: 0.9rem;
}

.sidebar > div {
  border: 1px solid rgb(245,245,245);
  padding: 2rem;
  margin: 2vh 0;
}
blockquote {
  font-weight: 300;
  font-style: italic;
  color: rgb(90,90,95);
}
/* Lists */
ul      { list-style: circle inside; }
ol      { list-style: decimal inside;}
ol, ul  { padding-left: 0;
          margin-top: 0; }
li      { margin-bottom: 0.5rem; }

/* ----- FORMS --------------------------- */

input,
textarea {
  border: 1px solid grey;
  border-radius: 12px;
  padding: 0.8em;
  font-family: 'Work Sans'; /* Site Font */
  font-size: 1em;
  display: block;
  width: 100%;
  margin: 1em auto;
  vertical-align: top;
}
textarea {
  min-height: 7em;
}
input[type="submit"] {
  width: 45vh;
  display: block;
  background-color: #dfece5; /* featured color */
}

form [class*=col-] {
  padding: 1%;
}


/*------- Media Queries ------------------------*/
@media(max-width:800px) {

  /* --- General Responsive Helpers ----*/


  .hamburger {
    font-size: 2.0rem;
  }
  .mob-hide {
      display: none!important;
  }
  .mob-show {
    display: block;
  }

  /* These classes flip the order of the columns on a mobile layout so that we don't have two images touching. Try commenting them out and see the difference */
  .mob-flip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
  }
  .mob-flip div {
      width: 100%; /* This fixes a flexbox bug */
  }

  /* ------ General Mobile Styles ---------*/
  /* This aligns everything to center on mobile, this is purely slylistic, remove or adjust to suit your design */
  body,
  .left,
  .right {
    text-align: center;
  }
  /* This adjusts the padding on all columns, this is purely slylistic, adjust to suit your design. */
  /* [class*=col-] is a fancy selector that selects everything class that contains col- including col-3, col-4 etc. */
  .col,
  [class*=col-] {
    padding: 1rem;
  }
  textarea {
    margin: 0;
  }

}/* End media query */
