---
layout: default
title: HallonScout - A guide for conscious traveller.
meta-description: This is a starter blog + ecommerce template to fastrack your projects.
featured-image_path: /uploads/pr-photos-6472.jpg
---

<!-- FIRST BANNER SECTION ---->

<section id="intro-banner" class="banner no-padding centered">
  <nav class="col-12 category-banner">
    <a href="/name"> <i class="fa fa-leaf" aria-hidden="true"></i> Boutique Hotel</a>
    <a href="/name"><i class="fa fa-leaf" aria-hidden="true"></i> Bed&Breakfast</a>
    <a href="/name"> <i class="fa fa-leaf" aria-hidden="true"></i> Lodges & Camps</a>
    <a href="/name"> <i class="fa fa-leaf" aria-hidden="true"></i> Farm house</a>
    <a href="/name"> <i class="fa fa-leaf" aria-hidden="true"></i> Mountain Hut</a>
    <a href="/name"> <i class="fa fa-leaf" aria-hidden="true"></i> Hostel</a>
    <a href="/name"> <i class="fa fa-leaf" aria-hidden="true"></i> Resort</a>
    <a href="/name"> <i class="fa fa-leaf" aria-hidden="true"></i> Private Villa</a>
  </nav>
  <div class="slider">
      <a   class="slider1" href='/allspots'>
      <h1>Discover all our spots</h1>
      <h2>Where will you go next?</h2>
      <h5 class="overlay">more</h5>
      </a>
    <a   class="slider2" href='/allspots'>
      <h1>Accommodation types</h1>
      <h2>What kind of traveller are you?</h2>
      <h5 class="overlay">more</h5>
    </a>
    <a   class="slider2" href='/allspots'>
      <h1>Ecolabels 2.0</h1>
      <h2>Fashion trends made in Bali</h2></h2>
      <h5 class="overlay">more</h5>
    </a>
  </div>
</section>

<!-- SECOND PRODUCT SECTION ---->
<section id="product" class="centered no-padding">
  <div class="productteaser center margin0">
    <h2 class= "small margin0">LATEST Spots<span> - discover our spots
      <a class="padding0 linkcolor"href="/allspots"> here</a>
    </span>
    </h2>
  </div>
    {% include spotspreview.html %}
</section>

<!-- THIRD Editorial SECTION ---->
<section class="centered">
  <div>
    <h2 class="small">Our Vision</h2>
    <h3>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</h3>
  </div>
</section>

<!--FOURTH Editorial 3 boxes SECTION ---->
<section class="bob-middle editorialsection">
  <div class="col-4_md-5_sm-12">
    <div class="editorialboxes boxspot">
    <div class="overlay">
      <h3>More</h3>
    </div>
  </div>
  </div>
  <div class="col-4_md-5_sm-12">
  <div class="editorialboxes boxtype">
    <div class="overlay">
      <h3>More</h3>
    </div>
  </div>
  </div>
  <div class="col-4_md-5_sm-12">
  <div class="editorialboxes boxblog">
    <div class="overlay">
      <h3>More</h3>
    </div>
  </div>
  </div>
</section>



<!-- FIFTH BLOG SECTION ---->
<section id="blogpreview">
  <div class="bob centered">
    <h3 class="col-12 center">See latest blog posts
      <a href="/blog"> here</a>
    </h3>
  </div>
  <div ="bob preview">
    {% for pre in site.blogpreview limit:4 %}
    {% endfor %}
  </div>
</section>
