<div class="grid">
{% for pre in site.product %}
<a   class="grid-item" href='{{pre.url}}'>
  <div>
    <div class="prodpreview">
      <img src="{{pre.previewimg}}"class="spots-preview-img">
    </div>

    <div class="dotted">
      <h3 class="header-preview">{{pre.spotname}}</h3>
      <div class="highlight-preview">
        <p><i class="fa fa-globe" aria-hidden="true"></i> {{pre.country}}</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{pre.location}}</p>
        <p><i class="fa fa-home" aria-hidden="true"></i> {{pre.typeaccommodation}}</p>
        <p><i class="fa fa-star" aria-hidden="true"></i> {{pre.highlight}}</p>
        <p class="button-preview .button4">Read more</p>
      </div>
    </div>
  </div>
</a>
{% endfor %}
</div>
