<h2 class="hamburger"> HallonScout </h2>

<nav class="mob-nav">
  <a href="/index.html"> Home </a>
  <a href="/allspots.html"> All Spots</a>
  <a href="/about.html"> About </a>
  <!-- <a href="/blog"> Blog </a>
  <a href="/shop"> Shop </a> -->
</nav>

<hr> <!-- this is a horizontal rule, aka line -->

<nav class="social-nav">
  <!-- add your social links here -->
  <a href="#"> <i class="fa fa-facebook"></i> </a>
  <a href="#"> <i class="fa fa-instagram"></i> </a>
  <a href="#"> <i class="fa fa-twitter"></i> </a>
</nav>
