<footer class="centered featured">
    <p class="connect">Connect with us</p>
      <nav class="footericons centered">
        <a href="SOCIALMEDIALINK"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="SOCIALMEDIALINK"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="SOCIALMEDIALINK"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
      </nav>
      <nav>
        <a href="/faq"> FAQ</a>
        <a href="/contact"> Contact</a>
        <a href="/imprint"> Imprint</a>
      </nav>
</footer>
