<footer class="grid-center centered featured padding0 fontheader">
  <p class="col-8_sm-12">Connect with us</p>
  <div class="col-8_sm-12">
      <nav class="footericons centered">
        <a href="SOCIALMEDIALINK"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="SOCIALMEDIALINK"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="SOCIALMEDIALINK"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
      </nav>
  </div>
  <div class="col-8_sm-12">
      <nav>
        <a href="/faq"> FAQ</a>
        <a href="/contact"> Contact</a>
        <a href="/imprint"> Imprint</a>
      </nav>
  </div>
</footer>
