---
layout: default
title: Micropage All Spots
---

<section class="paddingsliderproduct">
  <!--SLIDESHOW MICROSITE-->
  <div class="slider-responsive">
    <div>
    <img src="{{page.previewimg}}"class="spots-preview-img">
  </div>
    <div>
      <img src="{{page.image2}}"class="spots-preview-img">
    </div>
    <div>
    <img src="{{page.image3}}"class="spots-preview-img">
  </div>
  <div>
  <img src="{{page.image4}}"class="spots-preview-img">
</div>
<div>
<img src="{{page.image5}}"class="spots-preview-img">
</div>
</div>

<!--INFO SHORT-->
<nav>
  <div class="paddingproduct">
  <br><hr class="styleproduct"><br>
  <h2 class="productheader">{{page.spotname}}</h2>
  <nav >
  <i class="fa fa-globe" aria-hidden="true"></i>  {{page.country}}
  <i class="fa fa-home paddingteasericons" aria-hidden="true"></i>  {{page.type}}
  <i class="fa fa-star paddingteasericons" aria-hidden="true"></i>  {{page.highlight}}
  </nav>
  <br><hr class="styleproduct"><br>

  <h2 class="small nopaddingbottom">{{page.teaser}}</h2>
  <p class="left">{{page.description}}</p>
  <br><hr class="style12"><br>
<!--HIGHLIGHTS-->
<h2 class="small paddingbottom">All you need to know</h2>
<nav>{% if page.organic == true %}<i class"fa fa-leaf" aria-hidden="true"> </i> Organic Food {% endif %}
{% if page.restaurant == true %} <p><i class="fa fa-leaf" aria-hidden="true"> Restaurant</i> {% endif %}
{% if page.pool == true %} <i class="fa fa-leaf" aria-hidden="true"> Pool</i>{% endif %}
{% if page.dogsfriendly == true %}<i class="fa fa-leaf" aria-hidden="true"> Dogs freindly</i>{% endif %}
{% if page.courses == true %}<i class="fa fa-leaf" aria-hidden="true"> Courses</i>{% endif %}
</p>
<br><hr class="styleproduct"><br>



<!--CONTACT DETAILS-->
<h5>Contact details</h5>
<p><i class="fa fa-star" aria-hidden="true">E-Mail</i> {{page.email}}</p>
<p><i class="fa fa-star" aria-hidden="true"></i> {{page.address}}</p>
<p><i class="fa fa-star" aria-hidden="true"></i> {{page.country}}</p>
<p><i class="fa fa-star" aria-hidden="true"></i> {{page.website}}</p>

<!--REVIEWS-->
<h5>Reviews</h5>
  <a href={{page.reviewlink}}>{{page.reviewimg}}{{page.reviewlogo}}{{page.reviewdate}}</a>

</nav>
  </section>
