---
layout: default
title: Micropage All Spots
---

<section class="paddingsliderproduct">
  <!--SLIDESHOW MICROSITE-->
  <div class="slider-responsive">
    <div>
    <img src="{{page.previewimg}}"class="spots-preview-img">
  </div>
    <div>
      <img src="{{page.image2}}"class="spots-preview-img">
    </div>
    <div>
    <img src="{{page.image3}}"class="spots-preview-img">
  </div>
  <div>
  <img src="{{page.image4}}"class="spots-preview-img">
</div>
<div>
<img src="{{page.image5}}"class="spots-preview-img">
</div>
</div>

<!--INFO SHORT-->
<nav>
  <div class="paddingproduct">
  <br><hr class="styleproduct"><br>
  <h2 class="productheader">{{page.spotname}}</h2>
  <nav >
  <i class="fa fa-globe" aria-hidden="true"></i>  {{page.country}}
  <i class="fa fa-home paddingteasericons" aria-hidden="true"></i>  {{page.type}}
  <i class="fa fa-star paddingteasericons" aria-hidden="true"></i>  {{page.highlight}}
  </nav>
  <br><hr class="styleproduct"><br>

  <h2 class="small nopaddingbottom">{{page.teaser}}</h2>
  <p class="left">{{page.description}}</p>
  <h2 class="small paddingbottom paddingtop">All you need to know</h2>
  <nav>{% if page.organic == true %}<i class"fa fa-leaf paddingteasericons" aria-hidden="true"> </i> Organic Food {% endif %}
  {% if page.restaurant == true %} <i class="fa fa-leaf" aria-hidden="true"></i> Restaurant {% endif %}
  {% if page.pool == true %} <i class="fa fa-leaf paddingteasericons" aria-hidden="true"></i> Pool{% endif %}
  {% if page.dogsfriendly == true %}<i class="fa fa-leaf paddingteasericons" aria-hidden="true"> </i> Dogs friendly{% endif %}
  {% if page.courses == true %}<i class="fa fa-leaf paddingteasericons" aria-hidden="true"> </i> Courses{% endif %}
</nav>
<!--HIGHLIGHTS-->

<br><hr class="styleproduct"><br>
<h2 class="small paddingbottom">Contact details</h2>
<table>
  <tr>
    <td> Email: </td>
    <td>{{page.email}}</td>
  <tr>
    <tr>
      <td> Address: </td>
      <td>{{page.address}}</td>
    <tr>
    <tr>
      <td> Country: </td>
      <td>{{page.country}}</td>
    <tr>
  <tr>
    <td> Website: </td>
    <td>{{page.website}}</td>
  <tr>
</table>
<h2 class="small paddingbottom">Reviews</h2>
  <a href={{page.reviewlink}}>{{page.reviewimg}}{{page.reviewlogo}}{{page.reviewdate}}</a>

</nav>
  </section>
